body {
  background-color: hsl(0, 0%, 100%);
  color: hsl(230, 17%, 14%);
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  padding: 0 12%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  padding: 15px 225px 11.875rem 225px;
  margin: 0 -225px -11.875rem -225px;
}

#header-title h2 {
  font-size: 2.1875rem;
  margin-bottom: 0;
}

#header-title p {
  color: hsl(228, 12%, 44%);
  font-weight: 700;
  margin-top: 0.375rem;
}

hr {
  display: none;
  margin: 1.5625rem 0 0.3125rem 0;
}

#header-toggle-button {
  display: flex;
  align-items: center;
}

#header-toggle-button p {
  color: hsl(228, 12%, 44%);
  font-weight: 700;
  margin-right: 0.4375rem;
}

#theme-toggle {
  cursor: pointer;
  position: relative;
  width: 3.75rem;
  height: 1.6875rem;
  border-radius: 25px;
  outline: none;
  background-color: hsl(230, 22%, 74%);
  -webkit-appearance: none;
  transition: background 0.3s rgba(0, 0, 0, 0.15);
}

#theme-toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 76%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.35rem;
  width: 1.35rem;
  background-color: white;
  transition: left 0.4s;
}

#theme-toggle:checked:after {
  left: 24%;
}

#theme-toggle:hover {
  cursor: pointer;
}

#top-cards {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  margin-top: 3.125rem;
}

.social-card {
  background-color: hsl(227, 47%, 96%);
  color: hsl(228, 12%, 44%);
  border-top: 5px solid hsl(0, 0%, 80%);
  border-radius: 7px;
  text-align: center;
  width: 17.5rem;
  height: 12.5rem;
  padding: 1.25rem 1.25rem 1.875rem 1.25rem;
}

.social-tag {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-tag img {
  width: 1.25rem;
}

.social-tag p {
  font-weight: 700;
  margin-left: 0.625rem;
}

.social-card h2 {
  font-size: 3.75rem;
  color: hsl(230, 17%, 14%);
  margin: 1.25rem 0 0 0;
}

.followers-text {
  letter-spacing: 0.375rem;
  margin-top: 0.1875rem;
}

.follower-update {
  display: flex;
  align-items: center;
  justify-content: center;
}

.follower-update p {
  font-weight: 700;
  margin-left: 0.3125rem;
}

.up {
  color: hsl(163, 72%, 41%);
}

.down {
  color: hsl(356, 69%, 56%);
}

.social-card#facebook {
  border-color: hsl(208, 92%, 53%);
}

.social-card#twitter {
  border-color: hsl(203, 89%, 53%);
}

.social-card#instagram {
  border-top: 5px solid;
  border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%))
    1 0 0 0;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.social-card#youtube {
  border-color: hsl(348, 97%, 39%);
}

#bottom-cards {
  display: grid;
  grid-template-columns: repeat(4, 23.34%);
  gap: 2.1875rem 2.3125rem;
  width: 100%;
  /* overflow: hidden; */
  margin: 2.5rem 0 0 0;
  padding: 0;
}

#bottom-card-title {
  margin-top: 3.125rem;
  font-size: 1.5625rem;
  color: hsl(228, 12%, 44%);
}

.stats-card {
  background-color: hsl(227, 47%, 96%);
  width: 78%;
  padding: 1.25rem 1.875rem;
  border-radius: 7px;
}

.social-card:hover,
.stats-card:hover {
  background-color: hsl(232, 33%, 91%);
  cursor: pointer;
}

.stat-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-type p {
  color: hsl(228, 12%, 44%);
  font-weight: 700;
}

.stat-card-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
}

.stats-card .number {
  font-size: 2.1875rem;
  font-weight: 700;
  margin: 0;
}

.stats-update {
  display: flex;
  align-items: center;
}

.stats-update p {
  font-weight: 700;
  margin-left: 0.1875rem;
}

body.dark {
  background-color: hsl(230, 17%, 14%);
}

.stat-type p.dark,
.social-tag p.dark,
#header-title p.dark,
#header-toggle-button p.dark {
  color: hsl(228, 34%, 66%);
}

header.dark {
  background-color: hsl(232, 19%, 15%);
}

#theme-toggle.dark {
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

#theme-toggle.dark::after {
  background-color: hsl(219, 31%, 19%);
}

.social-card.dark,
.stats-card.dark {
  background-color: hsl(228, 28%, 20%);
}

.social-card.dark:hover,
.stats-card.dark:hover {
  background-color: hsl(228, 26%, 27%);
}

h2.dark,
#bottom-card-title.dark,
.number.dark {
  color: hsl(0, 0%, 100%);
}

.attribution {
  text-align: center;
  margin-top: 1.5625rem;
  color: hsl(230, 17%, 14%);
}

.attribution.dark {
  color: hsl(228, 34%, 66%);
}

.attribution a {
  text-decoration: none;
  color: hsl(208, 92%, 53%);
}

@media (min-width: 300px) and (max-width: 450px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  header {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5625rem 1.875rem 4.0625rem 1.875rem;
    margin: 0;
  }

  #header-title h2 {
    font-size: 1.25rem;
    text-align: left;
  }

  #header-title p {
    font-size: 0.75rem;
    margin-top: 0.1875rem;
  }

  hr {
    display: block;
  }

  hr.dark {
    border-color: hsl(228, 34%, 66%);
  }

  #header-toggle-button {
    justify-content: space-between;
  }

  #top-cards {
    display: block;
    margin: 0;
    position: relative;
    top: -2.5rem;
  }

  .social-card {
    margin-bottom: 1.375rem;
  }

  .social-card:last-of-type {
    margin-bottom: 0;
  }

  #bottom-card-title {
    font-size: 1.5rem;
    margin: 0;
  }

  #bottom-cards {
    display: block;
    margin: 1.875rem 0 2.5rem 0;
  }

  .stats-card {
    margin-bottom: 1.0625rem;
  }

  .attribution {
    font-size: 0.65rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 320px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    zoom: 0.9;
  }

  header {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5625rem 1.875rem 4.0625rem 1.875rem;
    margin: 0;
  }

  #header-title h2 {
    font-size: 1.25rem;
    text-align: left;
  }

  #header-title p {
    font-size: 0.75rem;
    margin-top: 0.1875rem;
  }

  hr {
    display: block;
  }

  hr.dark {
    border-color: hsl(228, 34%, 66%);
  }

  #header-toggle-button {
    justify-content: space-between;
  }

  #top-cards {
    display: block;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    top: -2.5rem;
  }

  .social-card {
    margin-bottom: 1.375rem;
  }

  .social-card:last-of-type {
    margin-bottom: 0;
  }

  #bottom-card-title {
    font-size: 1.5rem;
    margin: 0;
  }

  #bottom-cards {
    display: block;
    margin: 1.875rem 0 2.5rem 0;
  }

  .stats-card {
    margin-bottom: 1.0625rem;
  }
}
